<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

<script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>

<script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>
<body>
    <h2 style="color: #663333">Adult mouse brain single cell expresssion</h2>
    <div style="border:2px solid #663333"></div>
    <div id="MouseBrainExpress_box"></div>
    <script src="../static/js/mouseBrainExpress.js"></script>
</body>

</html>