<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>

    <!-- OR use a specific plotly.js release (e.g. version 1.52.3) -->
    <script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>

    <!-- OR an un-minified version is also available -->
    <script src="https://cdn.plot.ly/plotly-latest.js" charset="utf-8"></script>

    <style type="text/css">
        .little_title {
            color: #663333;
            font-size: 24px;
            font-family: "Verdana";
            padding: 5px;
            border-bottom: 3px solid #663333;
        }
    </style>
</head>

<body>

<div class="little_title">
    Human embryonic prefrontal cortex single cell expression
    <a href="https://www.ncbi.nlm.nih.gov/pubmed/29539641"
       target="_blank"><img src="/backend/staticd/static/Img/pumbed.gif"></a>
</div>
<div id="humanEPCExpress_box"></div>
<script src="../static/js/humanEPCExpress.js">

</script>

</body>
</html>